*{margin: 0;padding:0;color:white; font-family: 'Droid Serif', serif;}

html,body {
	max-width: 100%;
    overflow-x: hidden;
}

.break-5vh { 
	width: 100%;
	height: 5vh;
	display: inline-block;
}

.break-10vh { 
	width: 100%;
	height: 5vh;
	display: inline-block;
}

body { 
	background: url('../img/congruent_outline.png');
	background-color:#333333;
	width: 100%;
}

header {
	padding: 5% 0 6% 0;
	width: 70%;
	height: auto;
	margin: 0 auto;
}

h1 {
	display:inline-block;
	padding: 0px 20px;
	background-color: rgba(0,0,0,0.4);
	border-left: 10px solid #f6ff00;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;

}

#logos {
	list-style: none;
	float:right;
	position: relative;
	display: inline-block;
	right:0;
	top: 2vh;
}

li.logo { 
	width: 38px;
	height: 38px;
	display:inline-block;
}

#expand-box { 
	margin-left: -22%;
	width: 100%;
	display: none;
	background: url(../img/loadingspinner.gif) 50% 50% no-repeat;
	background-color: #1f1f1f;
	padding: 0 22% 30% 22%;
	position: relative;
	height: 0;
	overflow: hidden;
}

#expand-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

h2, h3 {
	margin: 20px 0;
	display: inline-block;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

h2{
	font-size: 30px;
}

h3, h4 { 
	font-size: 30px;
}

h4 {
	color: black;
}

a {
	text-decoration: none;
	cursor:pointer;
}

h2 a:hover, h3 a:hover, h4 a:hover {
	text-decoration: underline;
}

#portfolio { 
	width: 100%;
	margin: 0 auto;
	background: url('../img/logo-outline.png') 50% 85% no-repeat,
				url('../img/hypnotize.png');
	border-top: 10px solid #e7e7e7;
	padding: 1vh 0 10vh 0;
	bottom:0;
}

#portfolio-wrap { 
	width: 80%;
	margin: 0 auto;
	background: white;
	margin-top: -5%;
	border-radius: 5px;
}

#port-boxes { 
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
}

#one { 
background: url('../img/Dissertation Project Still.png') 50% 50% no-repeat;
background-size: cover;
}

#two { 
background: url('../img/example.jpg') 50% 50% no-repeat;
background-size: cover;
}

#three { 
background: url('../img/example.jpg') 50% 50% no-repeat;
background-size: cover;
}

.port-box { 
	position: relative;
	padding-bottom: 18%;
	width: 31.3%;
	margin: 1% 0.8%;
	display: inline-block;
	background-color: #fff003;
	border-radius: 5px;
}

.plus-box { 
	position: absolute;
	display: inline-block;
	float:right;
	right: 0;
	top: 10%;
	width: 4.5vw;
	height: 4.5vw;
	background: url('../img/plus-icon-white.png') 50% 50% no-repeat;
	background-color: black;
	z-index: 1;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

#port-boxes a:hover .plus-box{ 
	width: 6vw;
	border-left: .5vw solid #f6ff00;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

#port-boxes a:hover .overlay{ 
	opacity:0.2;
}

.overlay { 
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:black;
	opacity:0;
	z-index: 1;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

.project-overlay-exit { 
	width: 5vw;
	height: 5vw;
	position: relative;
	top: 0;
	right: 0;
	float:right;
	display: inline-block;
	background: url('../img/cross-icon-white.png') 50% 50% no-repeat;
	background-color:black;
}

.project-overlay-exit:hover { 
	background: url('../img/cross-icon-black.png') 50% 50% no-repeat;
	background-color: yellow;
	cursor:pointer;
}

.expand-project { 
	width: 96%;
	padding: 2% 2%;
	background: url('../img/congruent_outline.png') 0% 0%;
}

.tags { 
	display:inline-block;
	position: relative;
	right: 0;
	float:right;
}

.tags li { 
	background: #f4f4f4;
	padding: 5px 10px;
	margin: 5px 2px;
	color: #414141;
	border: 1px solid #ececec;
	border-radius: 5px;
	display:inline-block;
	cursor:pointer;	
	font-family: 'Droid Serif'
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
}

.tags li:hover { 
	border: 1px solid #d0d0d0;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
}

/* @media: 520px wide */
@media (max-width: 1050px) {

	html {
         background: url(polina.jpg) #000 no-repeat center center fixed;
    }

	body {
		width: 100%;
	}

	header {
		width: 80%;
		padding-top: 10%;
	}

	h1 {
		font-size: 60px
	}

	h2, a {
		font-size:25px;
	}

	#expand-box { 
		padding: 0 22% 60% 22%;
	}

    #bgvid {
        display: none;
    }

    .port-box{ 
		width: 95%;
		padding-top: 45%;
		margin: 2% 2.5%;
    }

	#portfolio { 
		background: url('../img/logo-outline.png') 50% 97% no-repeat,
					url('../img/hypnotize.png');
	}

    #logos { 
		width: 100%;
		float: none;
		padding-bottom: 7vw;
    }

    .plus-box { 
		height: 10vw;
		width: 10vw;
    }

    #port-boxes a:hover .plus-box{ 
	width: 15vw;
	border-left: 2vw solid #f6ff00;
	}
} 